# Endereço da sua instância Vault (incluindo a porta encontrada com kubectl get svc)
VAULT_URL=http://127.0.0.1:8200

# Token de autenticação (Root Token para testes, ou um token com políticas apropriadas)
VAULT_TOKEN=
